@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background: rgb(51, 12, 93);
    background: linear-gradient(100deg, rgba(51, 12, 93, 1) 0%, rgba(91, 41, 145, 1) 20%, rgba(117, 62, 177, 1) 40%, rgba(135, 90, 185, 1) 60%, rgba(165, 110, 226, 1) 80%, rgba(192, 143, 246, 1) 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


.news_title {
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
}

.news_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.news_content_group1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.news_content_group2 {
    display: flex;
    justify-content: space-around;

}

.album_title {
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.album_content {
    display: flex;
    justify-content: center;
}

.album_img {
    width: 300px;
    height: 300px;
}