@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background: rgb(51, 12, 93);
    background: radial-gradient(circle, #78179e, #3d4caa);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.underline:hover {
    text-decoration: underline;
}

.news_title:hover,
.album_title:hover,
.contants_title:hover,
.header_title:hover,
.squad_title:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.transition {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header_title {
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
}

.header_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: 0.8;
    margin-bottom: 70px;
}


.squad_title {
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-align: center;
    margin-top: 46px;
    margin-bottom: 66px;
}

.squad_list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 66px;
}

.squad_list_item {
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 38px;
    padding-bottom: 45px;
    padding-top: 45px;
    padding-left: 38px;
    padding-right: 38px;

    position: relative;
}

.squad_list_item:hover {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.squad_list_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 15px;
}

.squad_list_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    margin-bottom: 30px;
}

.squad_list_ref {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;

    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
}

.news_title {
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
}

.news_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.news_content_group1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.news_content_group2 {
    display: flex;
    justify-content: space-around;

}

.album_title {
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.album_content {
    display: flex;
    justify-content: center;
}

.album_img {
    width: 300px;
    height: 300px;
}

.hozirontal_line {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    margin-bottom: 64px;
    margin-top: 54px;
}

.contants_title {
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.contacts_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts_list_item {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.contacts_list_ref {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 19px;
    display: flex;
}
